body {
  margin: 0;
  padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

img {
    padding-left: 30px;
}

a {
  font-size: 15px;
}

.activeheaderlink {
  color: black;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 150px;
}

.navbar:after {
  content: '';
  clear: both;
  display: block;
}

.navbar ul {
  list-style: none;
  margin: 0;
}

.navbar > ul > li {
  float: left;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: grey;
  background-color: white;
  padding: 15px 20px;
  display: block;
}

.navbar ul li:hover > a {
  color: black;
}

.navbar a:active {
  color: black;
}

.navbar ul ul {
  position: absolute;
  padding: 0;
  min-width: 200px;
  display: none;
  top: 100%;
  left: 0;
}

.navbar ul li:hover > ul {
  display: block;
}

.navbar ul ul li {
  position: relative;
}

.navbar ul ul li a {
  margin: 0;
}

.navbar ul ul li:hover a {
  color: grey;
}

.navbar ul ul ul {
  top: 0;
  left: 100%;
}

.navbar input[type=text] {
  padding: 15px;
  font-size: 14px;
  float: left;
  width: 100%;
  background: #f1f1f1;
}

.navbar button[type=submit] {
  float: left;
  padding: 15px;
  background: black;
  border: none;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
}

.closeIcon {
  margin-left: 10px;
  margin-top: 15px;
}

label {
  display: none;
  width: 30px;
  float: right;
}

.navbar input[type=checkbox] {
  display: none;
}

.togglebutton {
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  label {
    display: block;
    cursor: pointer;
  }

  .navbar {
    width: 100%;
    display: none;
  }

  .navbar ul {
    display: block;
    border: 1px solid grey;
  }

  #toggle:checked + .navbar {
    display: block;
  }

}